:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #dab9a4;
  border: 2px solid white;
  border-radius: 15px;
  padding: 2%;
  margin: 2%;
  width: 100%;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#synth-column {
  max-width: 20%;
}

#waveform-column {
  max-width: 20%;
}

#effects-column {
  max-width: 50%;
}



.effect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3%;
}

div#sustain {
  display: flex;
  justify-content: center;
  align-items: center;
}

#decay {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: 500;
  color: #000000;
  padding-right: 2%
}

.horizontal2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 2%;
}

.oscillator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.keyboard-mockup {
  margin: 2%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#envelope-choices {
  padding-bottom: 5%;
}



.effect input[type="range"] {
  margin-left: auto;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="range"]:hover {
  background: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: #c2a38f;
  border-radius: 20%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #957d6f;
}

input[type="range"]::-webkit-slider-thumb:active {
  background: #67554a;
}

input[type="range"]::-moz-range-thumb {
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ccc;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  width: 10px;
  height: 20px;
  background: #c2a38f;
  border-radius: 20%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-ms-thumb:hover {
  background: #957d6f;
}
input[type="range"]::-ms-thumb:active {
  background: #67554a;
}






button {
  border-radius: 8px;
  border: 2px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c2a38f;
  cursor: pointer;
  margin-bottom: 3%;
  transition: background 0.3s;
}
button:hover {
  background-color: #957d6f;
}

button:active {
  background-color: #67554a;
}
